/* global config */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--text-color1);
}

a:visited {
    color: var(--text-color1);
}

body {
    min-height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: var(--bg-linear1);
    background-repeat: no-repeat;
    font-family: 'Rajdhani', sans-serif;
    color: var(--text-color);
    margin: 10px auto;
}

main {
    max-width: 1600px;
    margin: 0px auto;
    position: relative;
    box-shadow: 1px 1px 2px grey;
}

img {
    max-width: 100%;
    /* height: auto; */
    object-fit: cover;
}

:root {
    --bg-linear1: linear-gradient(339deg, rgba(191, 200, 217, 1) 0%, rgba(221, 230, 237, 1) 65%);
    --bg-stock2: #F1F4FF;
    --bg-stock3: #27374D;
    --text-color1: #080a13;
    --text-color2: #fcfbf8;
    --bg-btn: ;
    --bg-card: #9DB2BF;
}

/* cabeçalho */
.header {
    display: grid;
    max-width: 1200px;
    margin: 0px auto;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 70px;
    /* position: relative; */
}

.header ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 1.3rem;
}

main {
    background: var(--bg-stock2);
    border-radius: 4px;
    margin: 0px auto;
}

.secao1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px;
    align-items: stretch;
}

.secao1 img {
    border-radius: 0px 4px 0px 4px;
    justify-self: end;
}

.secao1-texto h2 {
    margin: 30px 0px;
    text-align: center;
    letter-spacing: 2px;
    font-size: 2rem;
}

.secao1-texto p {
    text-align: center;
    padding: 8px 18px 8px 18px;
    line-height: 26px;
    font-size: 1.3rem;
    font-weight: 400;
    width: 350px;
    margin: 0px auto;
}

/* SEÇÂO 2 */
.secao2 {
    border-top: 1px solid var(--text-color1);
    margin: 15px;
    padding: 0px 15px;
    display: grid;
    grid-template-rows: 128px;
    color: var(--text-color1);
}

.secao2-texto {
    max-width: 1200px;
    text-align: justify;
    margin: 0px auto;
    padding: 0px 15px;
}

.secao2-texto p {
    font-size: 1.2rem;
}

.secao2-texto h2 {
    margin: 15px 0px;
    font-size: 1.8rem;
    text-align: center;
}

.projetos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 500px;
    justify-items: center;
    gap: 20px;
}

.card {
    width: 450px;
    display: grid;
    background: var(--bg-card);
}

.card img {
    max-width: 100%;
    height: 400px;
}

.card p {
    font-size: 2rem;
    justify-self: center;
    color: var(--text-color1);
    font-weight: 800;
}

.card {
    overflow: hidden;
    /* position: relative; */
    border-radius: 5px;
    box-shadow: 1px 1px 2px grey;
}

.card img {
    transition: all 0.3s;
}

.card img:hover {
    transform: scale(1.1);
}

/* SEÇÃO 3 */
.xp {
    margin: 15px;
    padding: 0px 15px;
    border-top: 1px solid var(--text-color1);
    color: var(--text-color1);
}

.xp h2 {
    font-size: 1.8rem;
    text-align: center;
    margin: 15px 0px;
}

.xp h3 {
    font-size: 1.5rem;
    margin-left: 10px;
}

.xp h4 {
    font-size: 1.1rem;
    margin: 10px;
    text-align: center;
}

.xp p {
    font-size: 1.2rem;
    text-align: justify;
}

.xp ul {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: 50px;
    justify-content: center;
    margin: 20px;
    font-size: 1.3rem;
}

.xp li {
    list-style: circle;
    text-align: center;
}

.secao4 {
    margin: 15px;
    padding: 0px 15px;
    color: var(--text-color1);
    border-top: 1px solid var(--text-color1);
}

.secao4 div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px;
    align-items: center;
    justify-content: center;
}

.secao4 h2 {
    font-size: 1.7rem;
    text-align: center;
    margin: 15px 0px;
}

.secao4 p {
    font-size: 1.2rem;
}

.curso {
    margin: 0px 0px 0px 20%;
}